[submodule "private/middleware"]
	path = private/middleware
	url = https://github.com/rediacc/middleware.git
	branch = main
[submodule "private/renet"]
	path = private/renet
	url = https://github.com/rediacc/renet.git
	branch = main
[submodule "private/homebrew-tap"]
	path = private/homebrew-tap
	url = https://github.com/rediacc/homebrew-tap.git
	branch = main
[submodule "private/elite"]
	path = private/elite
	url = https://github.com/rediacc/elite.git
	branch = main
[submodule "private/sql"]
	path = private/sql
	url = https://github.com/rediacc/sql.git
	branch = main
[submodule "private/account"]
	path = private/account
	url = https://github.com/rediacc/account.git
	branch = main
[submodule "private/growth"]
	path = private/growth
	url = https://github.com/rediacc/growth.git
	branch = main
