[submodule "private/middleware"]
	path = private/middleware
	url = https://github.com/rediacc/middleware.git
	branch = main
[submodule "private/renet"]
	path = private/renet
	url = https://github.com/rediacc/renet.git
	branch = main
[submodule "private/homebrew-tap"]
	path = private/homebrew-tap
	url = https://github.com/rediacc/homebrew-tap.git
	branch = main
[submodule "private/license-server"]
	path = private/license-server
	url = https://github.com/rediacc/license-server.git
	branch = main
